/* RESPONSIVE TABLET FIXES */
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
    .header .slide-inner {
      padding: 0 60px;
      padding-left: 120px;
    }
  
    .header .swiper-container .swiper-slide h5 {
      font-size: 28px;
    }
  
    .works .works-grid li {
      width: 50%;
    }
  
    .footer .container {
      flex-direction: column;
      text-align: left;
    }
  
    .footer .container .content-box:nth-child(3) {
      text-align: left;
    }
  }

  /* this is only for mobile phones */
 @media only screen and (max-width: 767px) 
 {
   .bg-image
   {
       background-position: 70% !important;
   }
   .navbar
   {
       padding: 30px 25px;
   }
   .navigation-menu.open address
   {
       display: none;
   }
   .navigation-menu .inner ul
   {
       width: 100%;
   }
   .navigation-menu .inner ul li a
   {
       font-size: 40px;
   }
   .soundbar
   {
       display: none;
   }
   .swiper-slide .slide-inner
   {
       padding: 0 10px;
   }
   .slide-inner h5
   {
       font-size: 13px !important;
   }
   .slide-inner h2
   {
       font-size: 45px !important;
   }
   .header .swiper-container .swiper-button-prev span,
   .header .swiper-container .swiper-button-next span
   {
       display: none;
   }
   .header:after
   {
       height: 30px;
       left: 25px;
   }
   .header .social-media
   {
       bottom: 40px;
       left: 25px;
   }
   .works
   {
       padding: 40px 10px;
   }
   .works .works-title
   {
       width: 100%;
   }
   .works .works-title h2
   {
       font-size: 10vw;
   }
   .works .works-title p
   {
       font-size: 16px;
       text-align: justify;
   }
   .works .works-grid li
   {
       width: 100%;
       padding: 0 15px;
   }
   .works .works-grid li:last-child
   {
       margin-bottom: 0;
   }
   
 }
 